*{
    font-family: 'Times New Roman', Times, serif;
}

#titulo{
    background-color: rgb(248, 248, 200);
    color: black;
    text-align: center;
    height: 150px;
    font-size: 100px;
    line-height: 150px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav ul li{
    width: 150px;
    height: 70px;
    text-align: center;
    background-color: blanchedalmond;
    list-style: none;
    line-height: 70px;
    border-radius: 6%;
    margin-bottom: 40px;
    text-align: center;
}

main{
    text-align: center;
}

h2{
    text-align: center;
    color: blanchedalmond;
}

.remeras{
    list-style-type: circle;
    text-align: start;
}
